/*style appliqué dans toute la page*/
*{
    margin : 0;
    box-sizing: border-box;
}
body{
    font-family: JetBrains Mono, monospace;
    color: rgb(63, 63, 63);
    text-align: center;
    background-color: rgb(223, 242, 255);
}

.global{
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    border-left: solid rgb(202, 202, 202) 1px;
    border-right: solid rgb(202, 202, 202) 1px;
    border-bottom: dashed rgb(192, 192, 192) 1px;
    max-width: 1100px;
    margin: 0 auto;

    
    
}
h1{
    margin-top: 0;
}
h2{
    font-size: 1.5rem;
}
h3{
    margin: 10px;
}
/* flex direction sur tout lentete*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*style de l'entete, premiere page du site*/
    /*modification du menu de navigation*/
#menutop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    position: sticky;
    top: 20px;
    
   
}
.hidden{
    display: none;
}

#menutop  a, input{
    margin: 0;
    outline: solid rgb(143, 143, 143) 1px;
    margin-top: 1px;
    margin-left: 1px;
    font-size: 1.5rem;
    padding: 3px;
    background-color: white;
    box-shadow: #aaa  5px 5px 5px;
}
#menutop a:hover{
    background-color: rgb(59, 59, 59);
    margin-left:5px ;
    margin-right:5px ;
}

/* //////////////////////////////////////////// formulaire  */
#burger {
    position : fixed;
    top: 20px;
    right: 20px;
    border : 1px solid #aaa;
    border-radius: 5px;
}
/* définition du format du menu. Par défaut le menu est invisible */
#menu{
    /*display : none;*/
    position : fixed;
    top: 100px;
    right: 20px;
    border : 1px solid rgb(87, 87, 87);
    background-color: #999999;
    color: #fff;
    transition: transform .25s;
    transform: translateX(225px);
    width: 200px;
    height: 400px;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
   
    
}

#menu a {
   text-decoration: none;
   
    font-size: 1rem;
    border-top: solid 2px #fff;
    border-bottom:solid 2px #fff ;
    padding: 10px;
}

#menu a:hover{
    background-color: #000e2c;
}

#chk-burger{
    display : none;
    width : 200px;
    border : 2px solid #f00;
    padding: 10px;
}

/* Sélectionne l'élément #burger qui est précédé par la case à côcher (#chk-burger côcher) */
/* opérateur + un des suivant
   opérateur ~ le suivant
*/
#chk-burger:checked + #menu {
    /*display:block; /* menu devient visible */
    transform: translateX(0);
}



/* ///////////////////////////////////////// fin formulaire */

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/*section qui contient le texte et le logo en row*/
.intro h1{
    font-size: 4rem;
    text-align: left;
    font-style: italic;
    font-family: JetBrains Mono, monospace;
    margin-left: 5px;
}
.intro  p{
    line-height: 2;
    text-align: left;
    border-left: solid 1px black;
    margin-left: 5px;
    padding: 3px;
}
.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(32, 32, 32);
    
    margin: 10px;

}
.intro, #logo, #texte{
   
    
    margin: 1px;
}

/*div du texte*/
#texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2 1 600px;

    
}
#auteur, #datederemise, #para{
    margin: 10px;
   
    
}
/*logo*/
#logo  img{

    flex: 0 2 200px;

}
#logo{
    border-left: gray solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*bas de l'entete avec les infos du collège*/
.piedentete  h2{
    font-size: 1rem;
    margin-bottom: 0;
    margin-bottom: 60px;
}
/*section article*/
/*transformation de l'article*/
.article__figure{

    top: 50%;
    height: 50%;
    transform:  scale(.5);
    transition: transform .25s, opacity .50s;
   
  
    filter: grayscale(1) opacity(.5) blur(5px);
}
.article__figure:hover{
    transform : scale(.75);
   
    filter: grayscale(0) opacity(1) blur(0px);
}
.article:nth-of-type(even) {
    flex-direction: row-reverse;
  }



/*définir la taille max de l'image des articles*/
.imagearticle{
    max-width: 500px;
    max-height: 400px;
    
}
/*faire en sorte que les images et le texte des articles soient affichés en rangée*/
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid rgb(160, 158, 158) 1px;
}
/*faire en sorte que la figcaption soit sous l'image*/
.fig{
    display: flex;
    flex-direction: column;
    flex: 1 2 600px;
    
}
figcaption{
    margin: 20px;
}

.para__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
   flex: 3 2;
   margin: 10px;
   font-size: large;
   text-align: left;
  
}
.para__article  p{
    border-left: solid 1px black ;
}
/*partie formulaire*/

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 50vh;
    max-width: 50vh;
    border-right: solid rgb(143, 143, 143) 1px ;
}
.champs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.radio, .formemail, .desc, .submitreset{
    padding: 20px;

    margin: 1px;
}
#description{
    min-width: 300px;
    min-height: 200px;
}
.submitreset  {
    
    border-top: solid rgb(143, 143, 143) 1px;
   flex: 0 2 300px;
    
}
input:hover{
    
  background-color: #585858;
    
}
.desc{
    display: flex;
    flex-direction: column;
}
input, textarea{
    box-shadow: #aaa  5px 5px 5px ;
    
}
.radio  input{
    box-shadow: none;
    outline: none;
}
/*style du tableau*/
table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.pause  td{
    border: none;
}
tr:nth-child(even) {
    background-color: #d6d5d5;
}

tr:hover {
    background-color: #585858;
    color: white;
}

caption {
    font-weight: bold;
    margin-bottom: 8px;
}
.mercredi{
    border-top: none;
    border-bottom: none;
    transform: rotate(-90deg);
    font-size: smaller;
    color: #f00;
}
.pagetableau{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*partie gallerie*/
.maingallerie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagesgallerie{
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 300px;
}
.imagesgallerie  figure{
    outline: solid rgb(143, 143, 143) 1px ;
    box-shadow: #aaa  5px 5px 5px ;
    margin: 5px;
    }
.textegallerie{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    
}
.textegallerie  h2{
  font-size: 50px;
    text-align: left;
    box-shadow: #aaa  5px 5px 5px ;
    
    border-left: black 1px solid;
}